.layout-container {
    padding: 0;
    margin: 0;
}

.main {
    margin: 0px;
    padding: 0px;
}

.footer{
    width:100%;
    padding: 30px;
    border-top: solid 1px #aaaaaa;
}

.content {
    min-height: 845px;
    margin-top: 50px;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .layout-container {
    }
    .main {
        width: inherit;
        margin: 0px;
        padding: 0px;
    }
    .content {
        margin-top: 25px;
        width:inherit;
        min-height: 450px;
    }
}

/* NAVI start */
.blog-masthead {
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

.blog-nav-item {
    font-weight: 500;
    color: #cdddeb;
}

.blog-nav li {
    position: relative;
    display: inline-block;
    padding: 10px;
}

.blog-nav li.login {
    position: relative;
    display: inline-block;
    padding: 10px;
    float: right;
}

.blog-nav-item:hover,
.blog-nav-item:focus {
    color: #fff;
    text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
    color: #fff;
}
.blog-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}

.blog-nav ol, ul {margin-bottom: 0px; }
/* NAVI end */

/* reg-page */
.reg-page {
    margin-top: 50px;
    border: solid 1px #aaaaaa;
    padding: 20px;
}

.reg-page h4
{
    border-bottom: solid 1px #000000;
    padding-bottom: 5px;
}
/* reg-page end */

/* article */
.article-list {
    margin-top: 30px;
}

.article-list-header .menu{
    padding-top: 10px;
    padding-bottom: 10px;
}

.article-list-header .list-sort{
    float: left;
    list-style: none;
    width:50%;
}

.article-list-header .list-category-filter{
    float:left;
    width:50%;
}

.article-list-main{
    clear: both;
}

@media (max-width: 768px) {
    .article-list {
        margin-top: 15px;
    }
    .article-list-header .list-sort {
        padding: 5px;
        width: 100%;
    }
    .article-list-header .list-category-filter{
        padding: 5px;
        width: 100%;
    }
}
/* article end */